<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <contextName>Vertx-App</contextName>

  <jmxConfigurator />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight(%level)
        %boldCyan(%logger{50}) -
        %msg%n</pattern>
    </encoder>
  </appender>

  <!-- This appender to catch all except trace -->
  <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/vertx_app_debug.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/vertx_app_debug.log.%d{yyyy-MM-dd-HH}.gz
      </fileNamePattern>
      <maxHistory>72</maxHistory>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <!-- color format in vertx_app_error.log -->
    >
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight(%level)
        %boldCyan(%logger{50}) -
        %msg%n</pattern>
    </encoder>
  </appender>

  <!-- This appender to catch only errors -->
  <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/vertx_app_error.log</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/vertx_app_error.log.%d{yyyy-MM-dd-HH}.gz
      </fileNamePattern>
      <maxHistory>72</maxHistory>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <!-- color format in vertx_app_error.log -->
    >
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight(%level)
        %boldCyan(%logger{50}) -
        %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="DEBUG_FILE" />
    <appender-ref ref="ERROR_FILE" />
    <appender-ref ref="STDOUT" />
  </root>

  <!-- START: Third Parties Logs -->
  <logger name="io.vertx">
    <level value="WARN" />
  </logger>
  <logger name="io.netty">
    <level value="WARN" />
  </logger>
  <logger name="org.hibernate">
    <level value="WARN" />
  </logger>
  
  <!-- END: Third Parties Logs -->
</configuration>
